body {
    font-family: Arial, sans-serif;
    background-color:;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: ;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color:darkblue;
    position:centre;
}

p {
    line-height: 1.5;
    margin-bottom: 10px;
    color: #555;
}

header {
    background-color: royalblue;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

.about-section {
    padding: 40px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.about-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.about-section p {
    color: #555;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-media {
    margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #2ecc71;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #2ecc71;
  color: #fff;
}


.contact-info p {
    margin-bottom: 10px;
    color: white;
}

.footer-text {
    font-size: 14px;
    color: white;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    nav ul li {
        display: block;
        margin-bottom: 5px;
    }

    .social-media {
        margin-bottom: 20px;
    }
}
