body {
    font-family: Arial, sans-serif;
    background-color:darkorchid; ;
    margin: 0;
    padding: 0;
    color: darkblue;
}

header {
    background-color: #333;
    padding: 20px;
    color: darkorchid;
}

nav ul {
    list-style-type: none;
    padding:0;
    margin right:0;
    text-align: center;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.contact-section {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
    color: #333;
}

.contact-section h1 {
    font-size: 36px;
    color: darkblue;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.social-icons {
    margin-top: 20px;
    color: white;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #008080;
}

.contact-info {
    margin-top: 20px;
    color:white;
}

.contact-info p {
    margin: 5px 0;
    color: white;
}

.contact-form label {
    color: #444;
}

.contact-form textarea {
    resize: vertical;
}

.footer-heading {
    color: #fff;
}
